* {
  text-align: center;
}

body {
  background-color:rgb(0, 176, 105);
}

.color {
  border: 1px solid black;
  display: inline-block;
  padding: 20px;
}

.pixel {
  border: 1px solid black;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0.8px;
  background-color: white;
}

#pixel-board {
  margin-top: 20px;
}